:root {
    --primary-color: bisque;
    --secondary-color: rgb(255, 217, 0);
    --tertiary-color: blue;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
}
/* header and footer*/
header {
    padding: 20px 35px;
    background-color: var(--secondary-color);
    position: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
header img {
    justify-self: flex-start;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--tertiary-color);
    display: inline;
    margin: 0;
    align-self: flex-start;
}
header nav {
    margin: 7px;
    align-self: flex-end;
}
header a {
    text-decoration: none;
    color: var(--tertiary-color);
}

header nav ul li {
    display: inline;
}
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}
/* footer */
footer {
    background: var(--secondary-color);
    width: 100%;
    padding: 40px 35px;
}
footer h2 {
    display: inline;
    color: var(--tertiary-color);
    font-size: 30px;
    margin: 0;
}
footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}
footer a {
    color: var(--tertiary-color);
}
/* END HEADER AND FOOTER */
/* BEGIN HERO */
.hero {
    background-image: url("../images/mountains.jpg");
    height: 300px;
    background-size: cover;
    background-position: center;
    position: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.hero-content {
    color: var(--tertiary-color);
    padding: 60px;
    width: 500px;
    height: 200px;
    justify-self: flex-start;
}
/* WORK section */
.work {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;   
}
.title {
    background-color: var(--secondary-color);
    width: 100px;
    height: 200px;
    justify-self: flex-start;
}

#art1 {
    background-image: url("../images/RunBuddy.png");
    background-size: cover;
    background-position: center;
    width: 600px;
    height: 200px;
    justify-self: flex-start;   
}
#art2 {
    background-image: url("../images/PasswordGenerator.png");
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 200px;
    justify-self: flex-start;   
}

#art3 {
    background-image: url("../images/WSA.png");
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 200px;
    justify-self: flex-start;   
}

#art4 {
    background-image: url("../images/Indubidubly.png");
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 200px;
    justify-self: flex-start;   
}

/* responsive elements */

@media  screen and (max-width: 980px) {
    
}

@media  screen and (max-width: 768px) {
    .header {
        flex-wrap: column;
    }
    .hero-content {
        font-size: smaller;
    }
}

@media  screen and (max-width: 575px) {
    .header {
        flex-wrap: column;
    }
    .hero-content {
        font-size: smaller;
    }
}